.flex {
  display: flex;
}
/*.flex > * {*/
  /*-ms-flex: 0 1 auto;*/
/*}*/
.progress-bar {
  display: flex;
  overflow: hidden;
  position: relative;
  margin-bottom: 40px;

}
.seg {
  flex-grow: 1;
  min-height: 1rem;
  border-right: 1em solid white;
  z-index: 2;
}
.seg:last-of-type {
  border-right: 0px;
}
.progress-bar:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #5f254e 0%, #ff9584 50.98%, #ffc070 100%);
}
.incomplete-progress {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: lightgrey;
  transition: width 0.15s ease-in-out;
;
}

